<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("./header.ejs") %>
        <h1> It's all about me and all about my programming path sto stick with this to make the elastic search to be
            possible</h1>
</body>

</html>